<html>
    <head>

        <title>
            <%= rajat %>
        </title>

        <link rel="stylesheet" href="/css/layout.css">
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/footer.css">
        <%- style %>
    
    </head>
    
    <body>
       <%- include('_header'); %>
    <main id="layout-name">
        <%- body %>
    </main>  
       <%- include('_footer'); %>
        
       <%- script %>
    </body>

</html> 